<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pharmacymauzoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PharmacyMauzoApp">
        <activity android:name=".TableActivity"></activity>
        <activity android:name=".GenerateReportActivity" />
        <activity android:name=".SalesReportActivity" />
        <activity android:name=".AddmedicinequantityActivity" />
        <activity android:name=".SellingActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ScanCodeActivitysearch" />
        <activity android:name=".ScanCodeActivitysell" />
        <activity android:name=".UserOptionActivity" />
        <activity android:name=".additemActivity" />
        <activity android:name=".ScanCodeActivity" />
        <activity android:name=".ScanCodeActivitydel" />
        <activity android:name=".viewInventoryActivity" />
        <activity android:name=".scanItemsActivity" />
        <activity android:name=".deleteItemsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
